* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}
/* Hello */
.flex {
display: flex;
align-items: center;
}

.container {
padding: 0 15px;
min-height: 100vh;
justify-content: center;
background: #f0f2f5;
}

.facebook-page {
justify-content: space-between;
max-width: 1000px;
width: 100%;
}

.facebook-page .text {
margin-bottom: 90px;
}

h1 {
    color:  rgb(35, 80, 215);
    font-size: 50px;
}

.text > p {
    font-size: 20px;
}

form{
    background-color: white;
    /* height: 300px; */
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: #00000057 0px 0px 10px;
}

form > input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px lightgray solid;
}

.link {
    margin-top: 20px;
    text-align: center;
}

.link > button {
    width: 100%;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #1878f3;
    font-size: 20px;
    font-weight: bold;
}

hr {
    margin: 20px;
}

.createAccount{
    display: flex;
    justify-content: center;
}

.button{
    background: #43b82b;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}